.hero  {
  font-size: 16px;
  overflow: hidden;
  min-height: 100vh;
  background: url('http://assets.vogue.com/photos/58ec0d20f2a13a6b67f24c57/master/pass/05-caucasus-mountains-tbilisi-georgia-guide.jpg') center center / cover fixed;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    max-width: 1800px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1200px;

    .photo-frame {
      width: 45%;
      max-width: 600px;
      padding: 20px;
      text-align: center;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      position: relative;
      transform-style: preserve-3d;
      perspective: 1200px;

      .socials-block {
        font-size: 1.8em;

        .socials-list {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;
            list-style: none;

            a {
              color: #fff;
              transition: .3s;

              &:hover {
                text-shadow: $hover-shadow;
              }
            }
          }
        }
      }

      .image-wrap {
        transform: translateZ(20px);
        width: 180px;
        margin: 50px auto 0;
        border-radius: 50%;
        height: 180px;
        overflow: hidden;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .name {
        transform: translateZ(100px);
        font-family: $font-title;
        margin: 10px auto 5px;
      }

      .position {
        transform: translateZ(150px);
        font: 300 22px/1.3 $font-text, sans-serif;
        text-transform: uppercase;
        margin-bottom: 10px;
      }

      footer.info {
        transform: translate3d(0, 0,  150px);
      }

      .animated-frame {
        margin: 0;
        padding: 0;
        position: absolute;
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;

        li {
          position: absolute;
          list-style: none;
          background: #fff;
          box-shadow: 0 0 1px #000;

          &.line-top {
            height: 3px;
            width: 0;
            top: 12%;
            left: -10%;
          }

          &.line-right {
            height: 0;
            width: 3px;
            bottom: -10%;
            right: 5%;
          }

          &.line-bottom {
            height: 3px;
            width: 0;
            bottom: 0;
            right: -10%;
          }

          &.line-left {
            height: 0;
            width: 3px;
            top: -10%;
            left: 5%;
          }
        }
      }
    }

    .info-block {
      text-shadow: 1px 1px 1px #000;
      width: 45%;
      font: 16px/1.5 $font-text, sans-serif;
      padding:  50px 20px;
      text-align: center;
      color: #fff;

      .title {
        opacity: 0;
        font: 800 42px/1.3 $font-title, sans-serif;
        margin-top: 10px;
        text-transform: uppercase;

        &::after {
          display: block;
          content:'';
          height: 2px;
          width: 50px;
          margin: 0 auto;
          background: #fff;
          box-shadow: 0 0 1px #000;
        }
      }

      .slogan {
        font-size: 1.4em;
        opacity: 0;
        margin-bottom: 50px;
      }

      .short-info {
        opacity: 0;
        text-align: left;
        dt {
          float: left;
          width: 30%;
        }

        dd {
          margin-left: 0;
          float: right;
          width: 70%;
        }

        a {
          color: inherit;

          &:hover {
            color: $c-main;
          }
        }
      }
    }

    .portfolio-block {
      display: none;
      color: #fff;
      text-shadow: 1px 1px 1px #000;
      position: absolute;
      top: 20px;
      right: 20px;
      width: 40%;
      transform-origin: right;
      transform-style: preserve-3d;

      ul {
        display: flex;
        flex-flow: row wrap;
        margin: 0;
        padding: 0;

        li {
          list-style: none;
          width: calc(100% / 3);
          padding: 10px;
          height: auto;

          a {
            display: block;
            border: 2px solid #fff;
            box-shadow: 0 0 10px #fff;
            transition: .3s;

            img {
              width: 100%;
              height: auto;
              display: block;
              transition: .3s;
            }

            .work-title {
              display: none;
            }

            &:hover {
              transform: translateZ(20px);
              box-shadow: $hover-shadow;

              &:before {
                box-shadow: inset 0 0 0 0 #fff;
              }
            }
          }
        }
      }
    }
  }
}
