* {
  box-sizing: border-box;
}

body,html {
  color: $c-text;
  font: 16px/1.5 $font-text, sans-serif;
}

.clearfix:after {
  display: block;
  content: '';
  clear: both;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: $content-max-width;
}

h1,.h1 {
  font: bold 52px/1.5 $font-title, sans-serif;
}

h2, .h2 {
  font: bold 42px/1.5 $font-title, sans-serif;
}

h3, .h3 {
  font: bold 32px/1.5 $font-title, sans-serif;
}

h4, .h4 {
  font: bold 22px/1.5 $font-text, sans-serif;
}

h5, h5 {
  font: bold 18px/1.5 $font-text, sans-serif;
}

h6, h6 {
  font: bold 16px/1.5 $font-text, sans-serif;
}

.fa {
  margin-right: 1em;
}

ul.bullet-list {
  li {
    list-style: none;
    margin-bottom: 3px;
    
    &::before {
      display: inline-block;
      content: '';
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background: $c-main;
      margin: 0 7px 3px;
    }
  }
}

a {
  text-decoration: none;
  color: $c-main;
  transition: .3s;
}