/*
  Fonts
*/
$font-title: Bubbler One;
$font-text: Open Sans;


/*
  Colors
*/

$c-main: #3789b1;
$c-main-alt: #c85f04;
$c-footer: #eee;

$c-text: #151515;
$c-text-alt: #000;

$c-border: #eee;
$c-border-alt: #000;

/*
  Layout width
*/

$content-max-width: 1240px;

$screen-lg: 1100px;
$screen-md: 800px;
$screen-sm: 600px;